<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery.js"></script>
	<title>Super Burger Devour Menu</title>
	</head>
	
	<body>
	
	{{{ body }}}
	
	<footer>
        <div class="container">
           &copy;  Copyright 2019 Igor Baksht || <a href="#">Back to top</a>
        </div>
      </footer>
	</footer>
	</body>
	</html>